[MASTER]
disable=
    C0114, # Missing module docstring (missing-module-docstring)
    C0115, # Missing class docstring (missing-class-docstring)
    C0116, # Missing function or method docstring (missing-function-docstring)
    W0613, # hw01, Unused argument 'message' (unused-argument)
    R0903, # hw01, Too few public methods (1/2) (too-few-public-methods)
    E0712, # hw02, Catching an exception which doesn't inherit from Exception: tuple(errors) (catching-non-exception)
    W0718, # hw02, Catching too general exception Exception (broad-exception-caught)
    R0911, # hw02, Too many return statements (8/6) (too-many-return-statements)
    R0912, # hw02, Too many branches (16/12) (too-many-branches). Used when a function or method has too many branches, making it hard to follow.
    R1710, # hw02, Either all return statements in a function should return an expression, or none of them should. (inconsistent-return-statements)
    E1101, # hw04, Class 'CustomClass' has no 'custom_x' member (no-member)
    R0902, # hw04, Too many instance attributes (9/7) (too-many-instance-attributes) 
    W0104, # hw04, Statement seems to have no effect (pointless-statement)
    W0201, # hw04, Attribute 'name' defined outside __init__ (attribute-defined-outside-init)
    W0212, # hw04, Access to a protected member _a of a client class (protected-access)
    W0621, # hw08, Redefining name 'animal' from outer scope (line 25) (redefined-outer-name)
    R0801, # hw08, Similar lines in 2 files

[FORMAT]
max-line-length=80
